/* Vendors */
@import "normalize.css";

/* Setup */
@import "base/settings";

/* Mixins */
@import "tools/mixins";
@import "sprite";

/* Base styles */
@import "base/elements";

/* Objects */
@import "objects/typography";
@import "objects/layout";
@import "objects/buttons";

/* Components */
@import "components/header";
@import "components/footer";
@import "components/nav";

.logo {
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}
.icon-logo {
  float: left;
}
.logo-text {
  float: left;
  font-size: rem(16.7px);
  margin-left: 12px;
  margin-top: -4px;
  line-height: 1.4em;

  span {
    display: block;
    text-transform: uppercase;
    font-size: rem(20px);
    font-weight: bold;
  }
}

.soc-links {
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    @include list-reset;
    margin-left: -1px;

    &:first-child {
      margin-left: 0;

      a {
        border-radius: 3px 0 0 3px;
      }
    }
    &:last-child {
      a {
        border-radius: 0 3px 3px 0;
      }
    }
  }
  a {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border:1px solid #000;

    span {
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
    &:hover span {
      opacity: .7;
    }
  }
}

.article-list {
  .list-title {
    margin-bottom: 43px;
  }
  .article-item {
    overflow: hidden;
    font-size: rem(14px);
    line-height: 1.15em;

    .img-wr {
      float: left;
      margin-right:30px;
      margin-bottom: 30px;
    }
  }
  .article-title {
    font-size: rem(14px);
    margin:-0.1em 0 1.2em;

    a {
      text-decoration: none;
    }
  }
}

.services-list {
  display: flex;
  justify-content: space-between;
  @include list-reset;

  li {
    display: inline-block;
    vertical-align: top;
    width:330px;
    padding: 0 42px;
    text-align: center;
    margin-bottom:36px;
  }
  p {
    font-size: rem(24px);
    line-height: 1.2em;
  }
  .services-icon {
    width: 161px;
    height: 161px;
    line-height: 161px;
    margin:0 auto 23px;
    border-radius: 10px;
    background: #fff;

    &.blue {
      background: $c-blue;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.reviews-section {
  padding: 52px 0 43px ;
}

.review {
  text-align: center;
  margin:0 0 40px;
}
.review-icon {
  width: 179px;
  height: 179px;
  line-height: 179px;
  border-radius: 50%;
  background: #fff;
  margin:0 auto 30px;
  text-align: center;

  span {
    vertical-align: middle;
  }
}
.review-title {
  font-size: rem(26px);
  line-height: 1em;
  margin-bottom: 30px;
  font-weight: bold;

  span {
    display: block;
    font-size: rem(22px);
    font-weight: 300;
  }
}

.slider-section {
  padding:36px 0;

  p {
    font-size: rem(22px);
    padding:0 125px;
    font-weight: 300;
    text-align: center;
  }
}